.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #1d3461;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #1d3461;
  font-size: 96px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Caveat, sans-serif;
  font-size: 96px;
  line-height: 1em;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: Caveat, sans-serif;
  font-size: 48px;
  line-height: 1em;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

p {
  margin-bottom: 20px;
}

a {
  color: #e1a3c7;
  text-decoration: underline;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.black-text {
  color: #000;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
}

.feature-wrap.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.image-licensing {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 24px;
}

.image-licensing-wrap {
  max-width: 600px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  background-color: transparent;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-link {
  margin-right: 24px;
  margin-left: 0px;
  padding: 0px;
  border-radius: 0px;
  background-image: none;
  opacity: 0.8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #f9f9f9;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.nav-link:hover {
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  opacity: 1;
}

.nav-link:focus {
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  opacity: 1;
}

.nav-link.w--current {
  color: #f9f9f9;
}

.text-block-3 {
  display: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-block-3.w--current {
  display: none;
  font-size: 14px;
  letter-spacing: 1px;
}

.judges-section {
  padding-top: 0px;
  padding-bottom: 100px;
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.judges-pic {
  max-width: none;
  margin-bottom: 20px;
  border-radius: 360px;
}

.judges-bio {
  overflow: hidden;
  height: auto;
  min-height: 0px;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.accordion-item-trigger {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.faq-list {
  margin-bottom: 10px;
  padding-left: 0px;
  list-style-type: none;
}

.accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: 1px none #000;
  font-size: 17px;
}

.faq-wrapper {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.faq-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  color: #182343;
}

.body {
  background-image: url('../images/blue-background.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 0px;
}

.container {
  position: relative;
  display: block;
  width: auto;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  width: 100%;
  margin-top: 0px;
  background-color: transparent;
  background-image: url('../images/wt-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.issues-grid {
  padding: 0px;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.issue {
  padding: 30px;
}

.issue.bg-tan {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(219, 190, 161, 0);
  text-align: center;
}

.issue.bg-rose {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(211, 79, 115, 0);
  text-align: center;
}

.issue.bg-brown {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(163, 123, 115, 0);
  text-align: center;
}

.issue.bg-orange {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(219, 127, 103, 0);
  text-align: center;
}

.issue.bg-white {
  padding: 20px;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0);
  text-align: center;
}

.issue-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 500;
}

.image-family {
  display: none;
  width: 75%;
  height: auto;
  padding: 10px;
}

.contrast-text {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: hsla(0, 0%, 100%, 0.8);
}

.block-quote-2 {
  margin: 0px 20px 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 300;
}

.block-quote-2.contrast-text {
  border-left-width: 2px;
  border-left-color: hsla(0, 0%, 100%, 0.8);
  color: hsla(0, 0%, 100%, 0.8);
}

.image-disabilibity {
  display: none;
  width: 75%;
  height: auto;
  padding: 24px;
}

.image-violence {
  display: none;
  width: 75%;
  height: auto;
  padding: 20px;
}

.image-sexuality {
  display: none;
  width: 75%;
  height: auto;
  padding: 19px;
}

.image-citizens {
  display: none;
  width: 75%;
  height: auto;
  padding: 10px;
}

.image-bride {
  display: none;
  width: 75%;
  height: auto;
  padding: 14px;
}

.image-justic {
  display: none;
  width: 75%;
  height: auto;
  padding: 22px;
}

.image-freedom {
  display: none;
  width: 75%;
  height: auto;
  padding: 20px;
}

.image-pay {
  display: none;
  width: 75%;
  height: auto;
  padding: 21px;
}

.image-surgery {
  display: none;
  width: 75%;
  height: auto;
  padding: 19px;
}

.image-healthcare {
  display: none;
  width: 75%;
  height: auto;
  padding: 22px;
}

.image-work {
  display: none;
  width: 75%;
  height: auto;
  padding: 22px;
}

.judges-name {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Caveat, sans-serif;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.lead-text {
  margin-bottom: 40px;
  color: #1d3461;
  font-size: 20px;
  line-height: 1.6em;
}

.logo-name {
  font-size: 11px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.logo-wrapper {
  text-align: center;
}

.art-festival-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e0adc6;
  color: #1d3461;
}

.tribunal-section {
  padding-top: 100px;
  padding-bottom: 100px;
  color: hsla(0, 0%, 100%, 0.8);
}

.intro-grid {
  margin-bottom: 60px;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.video-section {
  position: relative;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
}

.div-block-16 {
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #bde0fe;
}

.blue-text {
  color: #1f487e;
}

.about-section {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 160px;
  padding-bottom: 0px;
  border: 1px none #000;
  border-radius: 0px;
  background-color: transparent;
  color: #182343;
}

.issues-section {
  position: relative;
  padding-top: 0px;
  padding-bottom: 100px;
}

.heading-2 {
  margin-bottom: 40px;
  font-family: Roboto, sans-serif;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: -1px;
  text-transform: none;
}

.heading-2.pink-text {
  color: #e0adc6;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: normal;
}

.pink-text {
  color: #fdc5f5;
}

.paragraph-2 {
  margin-bottom: 20px;
}

.register-button {
  padding: 4px 16px;
  border-radius: 100px;
  background-color: #e0adc6;
  color: #1d3461;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.register-button.large-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 32px;
  border-radius: 200px;
  font-size: 24px;
  text-align: left;
}

.register-button.large-button.blue-button {
  background-color: #1d3461;
  color: #e1a3c7;
}

.register-button.blue-button {
  display: none;
  background-color: #8998c3;
}

.world-map-embed {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.light-blue-text {
  color: #bde0fe;
  text-align: center;
}

.footer-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/end-scene.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.div-block-19 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-20 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hibiscus {
  padding: 0px 40px;
  background-image: url('../images/hibiscus.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.volunteer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: #1d3461;
}

.card-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.youtube {
  z-index: 9;
  border: 1px none #fff;
  border-radius: 0px;
  box-shadow: 1px 1px 32px 0 #000;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  display: block;
  margin-right: 10px;
}

.volunteer-card-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 32px 1fr auto;
  grid-template-columns: 32px 1fr auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.team-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

._4-column {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-column-count: 4;
  column-count: 4;
}

.team-heading {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 10px;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team-item {
  margin-bottom: 20px;
  clear: none;
  direction: ltr;
  -webkit-column-span: none;
  column-span: none;
}

.team-names {
  font-size: 12px;
  line-height: 1.6em;
  letter-spacing: 0.25px;
}

.end-cta {
  display: block;
  margin-bottom: 0px;
  font-family: Caveat, sans-serif;
  font-size: 96px;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
}

.end-cta.contrast-text {
  font-size: 64px;
  text-shadow: 1px 1px 6px #000;
}

.end-cta.pink-text {
  color: #e0adc6;
  font-weight: 600;
  letter-spacing: 0em;
  text-shadow: 1px 1px 6px #1d3461;
}

.div-block-23 {
  text-align: center;
}

.light-tint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-color: rgba(29, 52, 97, 0.4);
}

.icon {
  color: #fff;
}

.lang-2 {
  font-size: 14px;
}

.heading-1 {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 1em;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.event-block {
  display: block;
  height: 100%;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
}

.event-title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}

.event-logo {
  padding: 20px;
}

.event-date {
  line-height: 1.8em;
}

.event-subtitle {
  font-size: 16px;
  font-weight: 400;
}

.event-time {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.2em;
}

.event-link {
  border-radius: 8px;
  color: #000;
  text-decoration: none;
}

.event-link:hover {
  background-color: #e0adc6;
}

.tagline {
  margin-top: 0px;
  margin-bottom: 60px;
  color: #1d3461;
  font-size: 120px;
  font-weight: 400;
  text-align: left;
}

.event-grid {
  display: -ms-grid;
  display: grid;
  max-width: 720px;
  margin: 60px auto;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.issue-cloud {
  font-family: Caveat, sans-serif;
  font-size: 36px;
}

.div-block-26 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.socmed-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 32px;
  grid-auto-rows: 32px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 32px 32px 32px 32px 32px 32px 32px;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
  -ms-grid-rows: 32px;
  grid-template-rows: 32px;
}

.jag-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.2em;
  text-align: left;
  text-transform: none;
}

.icon-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(29, 52, 97, 0.1);
  opacity: 0.5;
  text-decoration: none;
}

.icon-link:hover {
  opacity: 1;
}

.collection-list-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-above-logos {
  margin-bottom: 60px;
  text-align: center;
}

.dark-link {
  color: #182343;
}

.flower-background {
  background-image: url('../images/flower-background.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-8 {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: -300px;
  margin-left: auto;
}

.hand-background {
  background-color: #fff;
  background-image: url('../images/hand.png');
  background-position: 100% 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hand-seed {
  margin-top: 200px;
  background-image: url('../images/soil.png');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.about-section-2 {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #fff;
  color: #182343;
}

.volunteer-card {
  display: block;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fff;
  color: #182343;
  text-align: center;
}

.lang-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.illustration-credit {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.5px;
}

.link {
  color: #b688a3;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.judges-card {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 32px 0 #a37b73;
  color: #182343;
  text-align: center;
}

.small-text {
  font-size: 16px;
  line-height: 1.6em;
}

.block-quote-4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.donor-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  color: #182343;
}

.donor-logo {
  max-height: 80px;
  max-width: 160px;
}

.contact-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-logo {
  width: 64px;
  height: 64px;
}

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.ml-form-embed {
  margin-right: auto;
  margin-left: auto;
}

.register-form {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #8998c3;
  color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-35 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.image-10 {
  position: static;
  top: 40px;
}

.nav-register-button {
  padding: 4px 16px;
  border-radius: 100px;
  background-color: #e0adc6;
  color: #1d3461;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.nav-register-button.blue-button {
  background-color: #8998c3;
}

.jag-logo-image {
  max-height: 40px;
  max-width: 80px;
  margin-bottom: 10px;
}

.jag-logo-image-sis {
  max-height: 40px;
  max-width: 80px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0px;
}

.list {
  padding-left: 0px;
  list-style-type: none;
}

.image-12 {
  max-height: 32px;
  max-width: 32px;
}

@media screen and (max-width: 991px) {
  h2 {
    font-family: Caveat, sans-serif;
    color: #1d3461;
    font-size: 48px;
    line-height: 52px;
  }

  h3 {
    font-size: 40px;
    line-height: 1em;
  }

  blockquote {
    font-size: 32px;
    line-height: 36px;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .navbar-container {
    padding-right: 20px;
    padding-left: 40px;
  }

  .nav-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .menu {
    width: 100vw;
    padding-top: 140px;
    padding-bottom: 30px;
    background-color: #e1a3c7;
    color: #1d3461;
  }

  .menu.w--open {
    height: 100vh;
  }

  .nav-link {
    margin-right: 0px;
    margin-bottom: 20px;
    color: #1d3461;
    font-size: 30px;
    text-align: center;
  }

  .nav-button {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #f9f9f9;
  }

  .nav-button.w--open {
    z-index: 100;
    border-radius: 5px;
    background-color: #222;
  }

  .text-block-3 {
    font-size: 14px;
  }

  .judges-section {
    padding-bottom: 60px;
  }

  .judges-pic {
    display: inline-block;
    max-width: none;
  }

  .judges-bio {
    font-size: 16px;
    line-height: 1.6em;
  }

  .faq-section {
    padding-bottom: 60px;
  }

  .container {
    display: block;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .container.fullwidth-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbar-wrapper {
    position: -webkit-sticky;
    position: sticky;
    left: auto;
    top: 0%;
    right: auto;
    bottom: auto;
  }

  .issues-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .issue.bg-tan {
    padding: 10px;
  }

  .issue.bg-rose {
    padding: 10px;
  }

  .issue.bg-brown {
    padding: 10px;
  }

  .issue.bg-orange {
    padding: 10px;
  }

  .issue.bg-white {
    padding: 10px;
  }

  .issue-title {
    margin-top: -20px;
    font-size: 1.2em;
  }

  .image-family {
    padding: 22px;
  }

  .image-disabilibity {
    padding: 43px;
  }

  .image-violence {
    padding: 38px;
  }

  .image-sexuality {
    padding: 38px;
  }

  .image-citizens {
    padding: 28px;
  }

  .image-bride {
    padding: 27px;
  }

  .image-justic {
    padding: 38px;
  }

  .image-freedom {
    padding: 39px;
  }

  .image-pay {
    padding: 36px;
  }

  .image-surgery {
    padding: 44px;
  }

  .image-healthcare {
    padding: 41px;
  }

  .image-work {
    padding: 42px;
  }

  .judges-name {
    margin-top: 0px;
    font-size: 36px;
    line-height: 1.3em;
  }

  .art-festival-section {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .tribunal-section {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .intro-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .video-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .about-section {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .issues-section {
    padding-bottom: 60px;
  }

  .heading-2 {
    font-size: 54px;
    line-height: 1.1em;
  }

  .heading-2.pink-text {
    font-size: 64px;
  }

  .register-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-decoration: none;
  }

  .register-button.large-button.blue-button {
    display: inline-block;
  }

  .register-button.blue-button {
    display: inline-block;
  }

  .light-blue-text {
    font-size: 48px;
  }

  .footer-section {
    background-attachment: scroll;
  }

  .div-block-20 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .volunteer-section {
    padding-bottom: 60px;
  }

  .card-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .volunteer-card-item {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 64px 1fr auto;
    grid-template-columns: 64px 1fr auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .team-section {
    padding-bottom: 60px;
  }

  ._4-column {
    display: block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -webkit-column-count: 4;
    column-count: 4;
  }

  .team-item {
    margin-bottom: 0px;
  }

  .end-cta.contrast-text {
    font-size: 64px;
  }

  .light-tint {
    height: auto;
    min-height: 100vw;
  }

  .dropdown {
    position: static;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .heading-1 {
    font-size: 28px;
    line-height: 1.1em;
  }

  .tagline {
    margin-top: 20px;
    font-size: 96px;
  }

  .event-grid {
    margin-right: 0px;
    margin-left: 0px;
  }

  .dropdown-toggle {
    font-size: 14px;
  }

  .div-block-26 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .socmed-grid {
    justify-items: end;
    grid-auto-columns: 32px;
    -ms-grid-columns: 32px 32px 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
  }

  .jag-name {
    margin-top: 0px;
    text-align: left;
  }

  .collection-list-2 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .image-8 {
    margin-bottom: -300px;
  }

  .div-block-30 {
    background-image: none;
  }

  .hand-background {
    background-position: 100% 80%;
  }

  .hand-seed {
    width: 50%;
    margin: 300px auto 0px;
  }

  .about-section-2 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 60px;
    background-image: none;
  }

  .volunteer-card {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
  }

  .lang-link {
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
  }

  .illustration-credit {
    font-size: 14px;
  }

  .div-block-32 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .judges-card {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
  }

  .donor-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .donor-logo {
    max-height: 60px;
    max-width: 120px;
  }

  .contact-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .register-form {
    padding-top: 0px;
  }

  .div-block-35 {
    padding-top: 20px;
    background-color: #8998c3;
  }

  .nav-register-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .feature-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link {
    font-size: 30px;
  }

  .text-block-3 {
    font-size: 12px;
  }

  .judges-section {
    padding-bottom: 40px;
  }

  .section-header {
    margin-bottom: 15px;
  }

  .judges-pic {
    max-width: none;
  }

  .judges-bio {
    font-size: 16px;
    line-height: 1.6em;
  }

  .faq-section {
    padding-bottom: 40px;
  }

  .container {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar-wrapper {
    position: -webkit-sticky;
    position: sticky;
    left: auto;
  }

  .issues-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-disabilibity {
    padding: 36px;
  }

  .image-violence {
    padding: 35px;
  }

  .image-citizens {
    padding: 20px;
  }

  .image-surgery {
    padding: 32px;
  }

  .image-healthcare {
    padding: 35px;
  }

  .image-work {
    padding: 35px;
  }

  .judges-name {
    margin-top: 0px;
    font-size: 32px;
    line-height: 1em;
  }

  .lead-text {
    font-size: 20px;
  }

  .art-festival-section {
    padding-bottom: 40px;
  }

  .tribunal-section {
    padding-bottom: 40px;
  }

  .about-section {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .issues-section {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .heading-2 {
    font-size: 48px;
    line-height: 1.1em;
  }

  .heading-2.pink-text {
    font-size: 48px;
  }

  .register-button {
    white-space: nowrap;
  }

  .light-blue-text {
    font-size: 48px;
    text-align: center;
    letter-spacing: 0em;
  }

  .footer-section {
    height: auto;
    min-height: 100vw;
  }

  .div-block-20 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hibiscus {
    min-height: 400px;
  }

  .volunteer-section {
    padding-bottom: 40px;
  }

  .bicycle {
    display: block;
    min-height: auto;
  }

  .card-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .brand {
    max-width: 70px;
  }

  .volunteer-card-item {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }

  .team-section {
    padding-bottom: 40px;
  }

  ._4-column {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .team-item {
    margin-bottom: 0px;
  }

  .end-cta.contrast-text {
    font-size: 48px;
  }

  .end-cta.pink-text {
    font-size: 64px;
  }

  .heading-1 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.1em;
  }

  .event-title {
    font-size: 18px;
  }

  .tagline {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 48px;
  }

  .event-grid {
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .issue-cloud {
    font-size: 32px;
  }

  .div-block-26 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .socmed-grid {
    margin-top: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-grid-columns: 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px;
  }

  .jag-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    text-transform: capitalize;
  }

  .collection-list-2 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .image-8 {
    margin-bottom: -300px;
  }

  .hand-background {
    background-position: 100% 75%;
  }

  .hand-seed {
    margin-bottom: 0px;
  }

  .about-section-2 {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .volunteer-card {
    padding-right: 20px;
    padding-left: 20px;
  }

  .illustration-credit {
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .donor-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .donor-logo {
    max-height: 40px;
    max-width: 80px;
  }

  .contact-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-logo {
    width: 48px;
    height: 48px;
  }

  .register-form {
    display: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .div-block-35 {
    padding-top: 0px;
  }

  .nav-register-button {
    white-space: nowrap;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
    line-height: 70px;
  }

  h3 {
    font-size: 32px;
  }

  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-wrap.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .navbar-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-wrapper {
    padding-right: 10px;
    padding-left: 20px;
  }

  .menu-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .nav-button {
    padding-right: 10px;
    padding-left: 10px;
  }

  .judges-pic {
    max-width: 120px;
  }

  .faq-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .faq-section {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .body {
    background-color: #1d3461;
    color: #000;
    font-size: 16px;
  }

  .container {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .navbar-wrapper {
    position: -webkit-sticky;
    position: sticky;
    left: auto;
    top: 0%;
  }

  .issues-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .issue-title {
    font-size: 1em;
  }

  .image-family {
    padding: 12px;
  }

  .block-quote-2.contrast-text {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 18px;
  }

  .image-disabilibity {
    padding: 28px;
  }

  .image-violence {
    padding: 27px;
  }

  .image-sexuality {
    padding: 26px;
  }

  .image-citizens {
    padding: 6px;
  }

  .image-bride {
    padding: 18px;
  }

  .image-justic {
    padding: 26px;
  }

  .image-freedom {
    padding: 22px;
  }

  .image-pay {
    padding: 21px;
  }

  .image-surgery {
    padding: 26px;
  }

  .image-healthcare {
    padding: 24px;
  }

  .image-work {
    padding: 23px;
  }

  .judges-name {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1em;
  }

  .tribunal-section {
    padding-bottom: 40px;
  }

  .about-section {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .heading-2 {
    font-size: 48px;
    line-height: 1.1em;
  }

  .heading-2.pink-text {
    font-size: 48px;
  }

  .register-button {
    display: none;
  }

  .light-blue-text {
    font-size: 32px;
    text-align: left;
    letter-spacing: 0em;
  }

  .footer-section {
    height: auto;
    min-height: 100vw;
  }

  .hibiscus {
    min-height: 300px;
  }

  .bicycle {
    display: block;
  }

  .card-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .volunteer-card-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .team-section {
    padding-bottom: 40px;
    color: #fff;
  }

  ._4-column {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .end-cta.contrast-text {
    font-size: 38px;
    line-height: 2em;
  }

  .end-cta.pink-text {
    font-size: 48px;
    line-height: 0.8em;
    font-weight: 600;
  }

  .light-tint {
    min-height: 60vh;
    background-color: rgba(29, 52, 97, 0.4);
    background-image: none;
  }

  .dropdown {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .heading-1 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 400;
    letter-spacing: 0px;
  }

  .event-title {
    font-size: 20px;
  }

  .tagline {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 48px;
  }

  .event-grid {
    margin-top: 40px;
    margin-bottom: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .issue-cloud {
    overflow: visible;
    font-family: Caveat, sans-serif;
    font-size: 24px;
  }

  .div-block-26 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .socmed-grid {
    -ms-grid-columns: 32px 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px;
  }

  .jag-name {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
  }

  .collection-list-2 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .image-8 {
    width: 100%;
    margin-bottom: -340px;
  }

  .hand-background {
    background-position: 100% 60%;
    background-size: contain;
  }

  .hand-seed {
    width: 100%;
    margin-bottom: 0px;
  }

  .about-section-2 {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  .illustration-credit {
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .donor-section {
    padding-bottom: 20px;
  }

  .contact-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact-logo {
    width: 32px;
    height: 32px;
  }

  .register-form {
    padding-bottom: 0px;
  }

  .nav-register-button {
    display: none;
  }
}

#w-node-_6e67634f-7203-669c-c463-2f827b59bb29-99e358da {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-d902f283-134e-63d9-3598-5b927a93fe51-99e358da {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d362-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d378-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d38c-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d39a-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d3a8-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d3ba-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d3ca-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d3dc-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d3f0-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d404-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d414-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d428-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_725515e3-0fef-0064-5a5c-32d04557d43c-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e49aa033-f118-b81f-024f-d16a8779706c-99e358da {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ab5569d8-3150-6c46-1b0d-031517ded270-17ded270 {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427d4-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427d8-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427dc-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427e0-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427e4-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427e8-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427ec-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427f0-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427f4-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427f8-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a427fc-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8ca3cfa-b759-a1d3-e730-f8ee49a42800-7faf105f {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_6e67634f-7203-669c-c463-2f827b59bb29-952c35eb {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-d902f283-134e-63d9-3598-5b927a93fe51-952c35eb {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0b8becce-a376-197f-dd10-1b73e71c28cf-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_5212b8cd-3626-0977-fd24-79dd8a2b0bff-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_544fe26f-ee39-53b5-17a2-b38ed2a5d8a0-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_769ba97a-de6e-57eb-fc94-78e7d69c0247-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a47dfada-bd34-9a06-1802-215804188fe6-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a34959e5-b3a4-6cd3-ec97-8bab7e04050d-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_29414829-6f36-0123-6686-d1485c63d609-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ec5e05c9-4671-7012-eb3d-fe1b7887fd6f-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_924ac8d7-d8b1-3379-bd86-9d2e234b5496-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_79dbaa9c-7b7e-4d5c-5f15-acb850e71ba9-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_77b3046b-dfc5-8fdc-9cf3-73a00ff488e5-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0ef69c19-338f-2bd1-d5aa-8d8e1b4c18f2-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_558355b3-dbab-3c3d-ddb4-766ad52b62c9-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-bef7ef9f-6d6b-8458-28d9-0540b2083fff-952c35eb {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-ab5569d8-3150-6c46-1b0d-031517ded270-17ded270 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

